/Chapter5/Project5/Project5/nbproject/private/
/Chapter5/Project5/Project5/build/
/Chapter5/Project5/Money/nbproject/private/
/Chapter5/Project5/Money/build/
/Chapter5/Project6/RationalNumbers/nbproject/private/
/Chapter5/Project6/RationalNumbers/build/
/Chapter5/Project7/ComplexNumbers/nbproject/private/
/Chapter5/Project7/ComplexNumbers/build/
/Chapter5/Project7/ComplexNumbers/dist/
/Chapter6/Project1/DiversScore/nbproject/private/
/Chapter6/Project1/DiversScore/build/
/Chapter6/Project1/DiversScore/dist/
/Chapter6/Project2/MemoryMatchingGame/nbproject/private/
/Chapter6/Project2/MemoryMatchingGame/build/
/Chapter7/Project1/Payment Details/nbproject/private/
/Chapter7/Project1/Payment Details/build/
/Chapter7/Project1/Payment Details/dist/
/Chapter7/Project2/Document/nbproject/private/
/Chapter7/Project2/Document/build/
/Chapter7/Project3/Video Game/nbproject/private/
/Chapter7/Project3/Video Game/build/
/Chapter7/Project3/Video Game/dist/
/Chapter7/Project4/Inheritance Demo/nbproject/private/
/Chapter7/Project4/Inheritance Demo/build/
/Chapter7/Project4/Inheritance Demo/dist/
/Chapter7/Project5/Inheritance Demo/nbproject/private/
/Chapter7/Project5/Inheritance Demo/build/
/Chapter7/Project6/Vehical Owner Inheritance Demo/nbproject/private/
/Chapter7/Project6/Vehical Owner Inheritance Demo/build/
/Chapter7/Project7/Patient and Billing Inheritance/nbproject/private/
/Chapter7/Project7/Patient and Billing Inheritance/build/
/Chapter7/Project7/Clinic Record/nbproject/private/
/Chapter7/Project7/Clinic Record/build/
/Chapter8/Video Game/nbproject/private/
/Chapter8/Video Game/build/
/Chapter8/Movie Rental/nbproject/private/
/Chapter8/Movie Rental/build/