/Chapter5/Project5/Project5/nbproject/private/
/Chapter5/Project5/Project5/build/
/Chapter5/Project5/Money/nbproject/private/
/Chapter5/Project5/Money/build/
/Chapter5/Project6/RationalNumbers/nbproject/private/
/Chapter5/Project6/RationalNumbers/build/
/Chapter5/Project7/ComplexNumbers/nbproject/private/
/Chapter5/Project7/ComplexNumbers/build/
/Chapter5/Project7/ComplexNumbers/dist/
/Chapter6/Project1/DiversScore/nbproject/private/
/Chapter6/Project1/DiversScore/build/
/Chapter6/Project1/DiversScore/dist/