/Chapter5/Project5/Project5/nbproject/private/
/Chapter5/Project5/Project5/build/
/Chapter5/Project5/Money/nbproject/private/
/Chapter5/Project5/Money/build/
/Chapter5/Project6/RationalNumbers/nbproject/private/
/Chapter5/Project6/RationalNumbers/build/
/Chapter5/Project7/ComplexNumbers/nbproject/private/
/Chapter5/Project7/ComplexNumbers/build/
/Chapter5/Project7/ComplexNumbers/dist/
/Chapter6/Project1/DiversScore/nbproject/private/
/Chapter6/Project1/DiversScore/build/
/Chapter6/Project1/DiversScore/dist/
/Chapter6/Project2/MemoryMatchingGame/nbproject/private/
/Chapter6/Project2/MemoryMatchingGame/build/
/Chapter7/Project1/Payment Details/nbproject/private/
/Chapter7/Project1/Payment Details/build/
/Chapter7/Project1/Payment Details/dist/
/Chapter7/Project2/Document/nbproject/private/
/Chapter7/Project2/Document/build/
/Chapter7/Project3/Video Game/nbproject/private/
/Chapter7/Project3/Video Game/build/
/Chapter7/Project3/Video Game/dist/
/Chapter7/Project4/Inheritance Demo/nbproject/private/
/Chapter7/Project4/Inheritance Demo/build/
/Chapter7/Project4/Inheritance Demo/dist/
/Chapter7/Project5/Inheritance Demo/nbproject/private/
/Chapter7/Project5/Inheritance Demo/build/
/Chapter7/Project6/Vehical Owner Inheritance Demo/nbproject/private/
/Chapter7/Project6/Vehical Owner Inheritance Demo/build/
/Chapter7/Project7/Patient and Billing Inheritance/nbproject/private/
/Chapter7/Project7/Patient and Billing Inheritance/build/
/Chapter7/Project7/Clinic Record/nbproject/private/
/Chapter7/Project7/Clinic Record/build/
/Chapter8/Video Game/nbproject/private/
/Chapter8/Video Game/build/
/Chapter8/Project2AndProject3/Movie Rental/build/
/Chapter8/Project2AndProject3/Movie Rental/nbproject/private/
/Chapter8/Project4/PredatorPraySimulation/nbproject/private/
/Chapter8/Project4/PredatorPraySimulation/build/
/Chapter10/Project1/SearchMostPopularName/nbproject/private/
/Chapter10/Project1/SearchMostPopularName/build/
/Chapter10/Project1/SearchMostPopularName/dist/
/IntegerFileGenerator/nbproject/private/
/IntegerFileGenerator/dist/
/IntegerFileGenerator/build/
/Chapter10/Project2/FindIntegersInFile/nbproject/private/
/Chapter10/Project2/FindIntegersInFile/build/
/DoubleFileGenerator/DoubleFileGenerator/nbproject/private/
/DoubleFileGenerator/DoubleFileGenerator/build/
/Chapter10/Project3/AvergaeOfDoubleNumbers/nbproject/private/
/Chapter10/Project3/AvergaeOfDoubleNumbers/build/
/Chapter10/Project4/Standard Deviation Of Numbers/nbproject/private/
/Chapter10/Project4/Standard Deviation Of Numbers/build/
/Chapter10/Project5/Remove Extra Blanks From File/nbproject/private/
/Chapter10/Project5/Remove Extra Blanks From File/build/
/Chapter10/Write Binary Integers/nbproject/private/
/Chapter10/Write Binary Integers/build/
/Chapter10/Project7/Largest And Smallest Integer Value/nbproject/private/
/Chapter10/Project7/Largest And Smallest Integer Value/build/
/Chapter10/Write Binary Doubles/nbproject/private/
/Chapter10/Write Binary Doubles/build/
/Chapter10/Project8/Average Of Binary Doubles/nbproject/private/
/Chapter10/Project8/Average Of Binary Doubles/build/
/Chapter10/Project9/Standard Deviation Of Binary Double Numbers/nbproject/private/
/Chapter10/Project9/Standard Deviation Of Binary Double Numbers/build/
/Chapter13/Project2/Inventory Item With Comparable Interface/nbproject/private/
/Chapter13/Project2/Inventory Item With Comparable Interface/build/
/Chapter13/Project3/Interface and Inner Class/nbproject/private/
/Chapter13/Project3/Interface and Inner Class/build/
/Chapter13/Project1/Binary Search With Comparable/nbproject/private/
/Chapter13/Project1/Binary Search With Comparable/build/
/Chapter13/Project4/Merge Sort With Comparable/nbproject/private/
/Chapter13/Project4/Merge Sort With Comparable/build/
/Chapter13/Project5/Quick Sort With Comparable/nbproject/private/
/Chapter13/Project5/Quick Sort With Comparable/build/
/Chapter13/Project10/Shape Interface With Circle And Rectangle/nbproject/private/
/Chapter13/Project10/Shape Interface With Circle And Rectangle/build/
/Chapter13/Project9/Employee and Date As Inner Private Class/nbproject/private/
/Chapter13/Project9/Employee and Date As Inner Private Class/build/
/Chapter14/Project1/Diving Score with Array List/nbproject/private/
/Chapter14/Project1/Diving Score with Array List/build/